version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: postgres_gestor_tareas
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: tareasdb
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_gestor_tareas
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    depends_on:
      - postgres

volumes:
  postgres_data:
